.suggestions_container{
width: 320px;
height: 290px;
margin-top: 25px;
}
.suggestions_header{
font-weight: bold;
color: #8e8e8e;
}
.suggestions_body{
    height: 256px;
    width:290px;
    margin-top: 10px;
   
}
.suggestions_friends{
    padding: 5px;
    display: flex;
}
.suggestions_image{
max-width: 35px;
max-height: 35px;
}
.suggestions_username{
font-weight: bold;
margin: 10px;
}